{:highlights [{:id #uuid "64d8e28a-79df-4bd0-b8f0-ed0c34148ded",
               :page 2,
               :position {:bounding {:x1 183.375,
                                     :y1 360.078125,
                                     :x2 495.329833984375,
                                     :y2 376.078125,
                                     :width 857.19684,
                                     :height 1212.32124},
                          :rects ({:x1 183.375,
                                   :y1 360.078125,
                                   :x2 495.329833984375,
                                   :y2 376.078125,
                                   :width 857.19684,
                                   :height 1212.32124}),
                          :page 2},
               :content {:text "−245 minus two hundred and forty-five"},
               :properties {:color "red"}}
              {:id #uuid "64d8e2e5-43fb-4c9f-be7b-1bca8f806736",
               :page 2,
               :position {:bounding {:x1 103.671875,
                                     :y1 463.359375,
                                     :x2 540.5274658203125,
                                     :y2 479.359375,
                                     :width 857.19684,
                                     :height 1212.32124},
                          :rects ({:x1 103.671875,
                                   :y1 463.359375,
                                   :x2 540.5274658203125,
                                   :y2 479.359375,
                                   :width 857.19684,
                                   :height 1212.32124}),
                          :page 2},
               :content {:text "1 000 000 000 000 one trillion [US usage, now universal]"},
               :properties {:color "red"}}
              {:id #uuid "64d8e2ee-49f4-41eb-b81f-61f75861b112",
               :page 2,
               :position {:bounding {:x1 129.96875,
                                     :y1 428.9375,
                                     :x2 532.9921875,
                                     :y2 444.9375,
                                     :width 857.19684,
                                     :height 1212.32124},
                          :rects ({:x1 129.96875,
                                   :y1 428.9375,
                                   :x2 532.9921875,
                                   :y2 444.9375,
                                   :width 857.19684,
                                   :height 1212.32124}),
                          :page 2},
               :content {:text "1 000 000 000 one billion [US usage, now universal]"},
               :properties {:color "red"}}
              {:id #uuid "64d8e41c-802e-4e8f-989b-678945aeec9d",
               :page 2,
               :position {:bounding {:x1 108.84375,
                                     :y1 800.4375,
                                     :x2 456.25970458984375,
                                     :y2 815.4375,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 108.84375,
                                   :y1 800.4375,
                                   :x2 456.25970458984375,
                                   :y2 815.4375,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 2},
               :content {:text "e [= 2.71828 . . .] e [base of the natural logarithm]"},
               :properties {:color "red"}}
              {:id #uuid "64d8e426-40fc-47f3-8f21-9c2c7268b2da",
               :page 2,
               :position {:bounding {:x1 161.8125,
                                     :y1 688.25,
                                     :x2 456.25970458984375,
                                     :y2 703.25,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 161.8125,
                                   :y1 688.25,
                                   :x2 456.25970458984375,
                                   :y2 703.25,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 2},
               :content {:text "−0.067 minus nought point zero six seven"},
               :properties {:color "red"}}
              {:id #uuid "64d9a4dc-cdbe-4bae-b0a0-3178f15a19d8",
               :page 3,
               :position {:bounding {:x1 315.97369384765625,
                                     :y1 180.703125,
                                     :x2 386.1002197265625,
                                     :y2 195.703125,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 315.97369384765625,
                                   :y1 180.703125,
                                   :x2 386.1002197265625,
                                   :y2 195.703125,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 3},
               :content {:text "conjugate "},
               :properties {:color "purple"}}
              {:id #uuid "64d9a517-46b0-4097-b63c-a12153b7fc66",
               :page 3,
               :position {:bounding {:x1 282.21875,
                                     :y1 435.640625,
                                     :x2 384.5978698730469,
                                     :y2 450.640625,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 282.21875,
                                   :y1 435.640625,
                                   :x2 384.5978698730469,
                                   :y2 450.640625,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 3},
               :content {:text "Exponentiation"},
               :properties {:color "purple"}}
              {:id #uuid "64d9a568-b7c9-470b-9cbf-fcf58da128b9",
               :page 3,
               :position {:bounding {:x1 344.41302490234375,
                                     :y1 615.375,
                                     :x2 406.79095458984375,
                                     :y2 630.375,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 344.41302490234375,
                                   :y1 615.375,
                                   :x2 406.79095458984375,
                                   :y2 630.375,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 3},
               :content {:text "ambiguous"},
               :properties {:color "purple"}}
              {:id #uuid "64d9a604-5eda-4814-b25d-ec060e9eb9f9",
               :page 3,
               :position {:bounding {:x1 96.515625,
                                     :y1 800.4375,
                                     :x2 160.75668334960938,
                                     :y2 815.4375,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 96.515625,
                                   :y1 800.4375,
                                   :x2 160.75668334960938,
                                   :y2 815.4375,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 3},
               :content {:text "equivalent "},
               :properties {:color "purple"}}
              {:id #uuid "64d9a61e-bf59-4f1d-9178-ccf6a918f977",
               :page 3,
               :position {:bounding {:x1 285.8125,
                                     :y1 550.46875,
                                     :x2 454.0997314453125,
                                     :y2 565.46875,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 285.8125,
                                   :y1 550.46875,
                                   :x2 454.0997314453125,
                                   :y2 565.46875,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 3},
               :content {:text "the square root of three"},
               :properties {:color "red"}}
              {:id #uuid "64d9a62f-2b61-449f-9bb7-505102221b59",
               :page 3,
               :position {:bounding {:x1 285.8125,
                                     :y1 582.515625,
                                     :x2 482.14764404296875,
                                     :y2 597.515625,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 285.8125,
                                   :y1 582.515625,
                                   :x2 482.14764404296875,
                                   :y2 597.515625,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 3},
               :content {:text "the fifth root of thirty two"},
               :properties {:color "red"}}
              {:id #uuid "64d9a63b-d88c-4471-a137-974f5006f586",
               :page 3,
               :position {:bounding {:x1 278.3925476074219,
                                     :y1 533.328125,
                                     :x2 433.0672607421875,
                                     :y2 548.328125,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 278.3925476074219,
                                   :y1 533.328125,
                                   :x2 433.0672607421875,
                                   :y2 548.328125,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 3},
               :content {:text "five to the minus two"},
               :properties {:color "red"}}
              {:id #uuid "64d9a648-4e3f-4f53-a834-edfebe8c28f8",
               :page 3,
               :position {:bounding {:x1 285.8125,
                                     :y1 486.359375,
                                     :x2 355.93902587890625,
                                     :y2 501.359375,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 285.8125,
                                   :y1 486.359375,
                                   :x2 355.93902587890625,
                                   :y2 501.359375,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 3},
               :content {:text "five cubed"},
               :properties {:color "red"}}
              {:id #uuid "64d9a64d-1fb7-4cd1-bb1c-6ae53865a7b2",
               :page 3,
               :position {:bounding {:x1 285.8125,
                                     :y1 470.328125,
                                     :x2 369.95611572265625,
                                     :y2 485.328125,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 285.8125,
                                   :y1 470.328125,
                                   :x2 369.95611572265625,
                                   :y2 485.328125,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 3},
               :content {:text "five squared"},
               :properties {:color "red"}}
              {:id #uuid "64d9a66e-f2a0-416a-a022-03b7ec9e047f",
               :page 3,
               :position {:bounding {:x1 298.75,
                                     :y1 333.71875,
                                     :x2 653.1134033203125,
                                     :y2 348.71875,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 298.75,
                                   :y1 333.71875,
                                   :x2 653.1134033203125,
                                   :y2 348.71875,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 3},
               :content {:text "three divided by five equals [= . . . ] zero point six"},
               :properties {:color "red"}}
              {:id #uuid "64d9a68c-6db6-4acf-b812-d323e6e8be64",
               :page 3,
               :position {:bounding {:x1 233.03125,
                                     :y1 367.296875,
                                     :x2 681.7835693359375,
                                     :y2 382.296875,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 233.03125,
                                   :y1 367.296875,
                                   :x2 681.7835693359375,
                                   :y2 382.296875,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 3},
               :content {:text "two minus three in brackets times six plus one equals minus five"},
               :properties {:color "red"}}
              {:id #uuid "64d9a6ab-8391-4d33-a437-7e0266b367ef",
               :page 3,
               :position {:bounding {:x1 268.0808410644531,
                                     :y1 399.359375,
                                     :x2 331.2056579589844,
                                     :y2 414.359375,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 268.0808410644531,
                                   :y1 399.359375,
                                   :x2 331.2056579589844,
                                   :y2 414.359375,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 3},
               :content {:text "factorial"},
               :properties {:color "purple"}}
              {:id #uuid "64d9aede-ea19-4ecc-985a-2642ef27745a",
               :page 3,
               :position {:bounding {:x1 149.54632568359375,
                                     :y1 768.390625,
                                     :x2 205.1593017578125,
                                     :y2 783.390625,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 149.54632568359375,
                                   :y1 768.390625,
                                   :x2 205.1593017578125,
                                   :y2 783.390625,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 3},
               :content {:text "multiples "},
               :properties {:color "red"}}
              {:id #uuid "64d9b002-aa80-463c-8975-086442bbaa51",
               :page 4,
               :position {:bounding {:x1 276.234375,
                                     :y1 97.9375,
                                     :x2 335.97125244140625,
                                     :y2 112.9375,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 276.234375,
                                   :y1 97.9375,
                                   :x2 335.97125244140625,
                                   :y2 112.9375,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 4},
               :content {:text "Division "},
               :properties {:color "red"}}
              {:id #uuid "64d9b229-309a-4f51-8dd4-2611b6bfc686",
               :page 4,
               :position {:bounding {:x1 296.453125,
                                     :y1 334.578125,
                                     :x2 419.3897705078125,
                                     :y2 349.578125,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 296.453125,
                                   :y1 334.578125,
                                   :x2 419.3897705078125,
                                   :y2 349.578125,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 4},
               :content {:text "Euclid’s algorithm"},
               :properties {:color "red"}}
              {:id #uuid "64d9b9f1-8a8b-4706-b32c-0489b328de17",
               :page 4,
               :position {:bounding {:x1 406.4559326171875,
                                     :y1 367.0625,
                                     :x2 444.8418884277344,
                                     :y2 382.0625,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 406.4559326171875,
                                   :y1 367.0625,
                                   :x2 444.8418884277344,
                                   :y2 382.0625,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 4},
               :content {:text "divisor"},
               :properties {:color "red"}}
              {:id #uuid "64da0db3-f2cd-4ca8-9868-433ab7190985",
               :page 9,
               :position {:bounding {:x1 315.25,
                                     :y1 151.359375,
                                     :x2 400.6050720214844,
                                     :y2 166.359375,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 315.25,
                                   :y1 151.359375,
                                   :x2 400.6050720214844,
                                   :y2 166.359375,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 9},
               :content {:text "Congruences"},
               :properties {:color "red"}}
              {:id #uuid "64da1433-c38b-43cf-a20f-ff19a9ac0617",
               :page 9,
               :position {:bounding {:x1 96.515625,
                                     :y1 316.96875,
                                     :x2 261.5536193847656,
                                     :y2 331.96875,
                                     :width 798,
                                     :height 1128.5999952123016},
                          :rects ({:x1 96.515625,
                                   :y1 316.96875,
                                   :x2 261.5536193847656,
                                   :y2 331.96875,
                                   :width 798,
                                   :height 1128.5999952123016}),
                          :page 9},
               :content {:text "Fermat’s Little Theorem"},
               :properties {:color "red"}}
              {:id #uuid "64da14be-78dc-40f3-a266-556705bb375e",
               :page 9,
               :position {:bounding {:x1 115.1875,
                                     :y1 426.328125,
                                     :x2 353.23126220703125,
                                     :y2 443.328125,
                                     :width 952.4409333333333,
                                     :height 1347.0236},
                          :rects ({:x1 115.1875,
                                   :y1 426.328125,
                                   :x2 353.23126220703125,
                                   :y2 443.328125,
                                   :width 952.4409333333333,
                                   :height 1347.0236}),
                          :page 9},
               :content {:text "Chinese Remainder Theorem"},
               :properties {:color "red"}}],
 :extra {:page 15}}
